params {
  project_folder   = "$PWD"                 
  fastqc_raw_data  = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/data/"       
  fastqc_output    = "fastqc_output"        
  cpus   = 4
  memory = '8GB'
  time   = '2h'
  run_type    = null
  containers  = null
}


profiles {

  local {
    process {
      maxForks = 1
    }
    params.run_type   = 'local'
    params.containers = 'docker'
    includeConfig 'configs/local.config'
  }

  // HMGU HPC：Slurm + Singularity

  hpc {
    params.run_type   = 'hpc'
    params.containers = 'singularity'
    includeConfig 'configs/slurm.config'
  }

}
