// =========================
// nf-fastqc base config
// =========================

params {
  // ---- pipeline-specific ----
  fastqc_raw_data  = "$PWD/test_data"       // input FASTQ directory
  project_folder   = "$PWD"                 // where to publish results
  fastqc_output    = "fastqc_output"        // subfolder name

  // default resources for FastQC
  cpus   = 4
  memory = '8GB'
  time   = '2h'

  // will be set by profiles
  run_type    = null
  containers  = null
}

// Clean work dirs after success by default
cleanup = true

// ----------------
// Profiles
// ----------------

profiles {

  local {
    process {
      maxForks = 1
    }
    params.run_type   = 'local'
    params.containers = 'docker'
    includeConfig 'configs/local.config'
  }

  // HMGU HPC：Slurm + Singularity
  hpc {
    params.run_type   = 'hpc'
    params.containers = 'singularity'
    includeConfig 'configs/slurm.config'
  }

  debug {
    cleanup = false
  }
}
