params {
  container_fastqc = "$HOME/singularity_image/fastqc-0.11.9.sif"
  queue         = 'cpu_p'
  extra_mounts  = ''
}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = '--qos=cpu_normal --nice=10000'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_fastqc
  containerOptions = params.extra_mounts
}

singularity {
  enabled    = true
  autoMounts = true

}
