params {
  container_fastqc = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/fastqc-0.11.9.sif"
  queue         = 'cpu_p'
  extra_mounts  = '--bind /ictstr01/groups/idc/projects/uhlenhaut/jiang/'
}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_fastqc
  containerOptions = params.extra_mounts
}

singularity {
  enabled    = true
  autoMounts = true

}
